---
code-fold: false
---

# Python Basics

Open in Colab [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/febse/opt2025-de/blob/main/01-Python/01-Basics.ipynb)


## Arithmetische Operationen

In [1]:
# Addition
1 + 1

2

In [2]:
# Division
1 / 2

0.5

In [3]:
# Multiplikation
2 * 3

6

In [4]:
# Potenz
2.3 ** 8

783.1098528099996

In [5]:
# Datentypen
type(1)

int

In [6]:
type(1.0)

float

### Zuweisung (Assignment)

Wir können Werte Variablen zuweisen. In Python verwenden wir dazu das Gleichheitszeichen `=`. Der Wert auf der rechten Seite des Gleichheitszeichens wird der Variablen auf der linken Seite zugewiesen. Anders als in der Mathematik, wo die Gleichung `x = 3` bedeutet, dass `x` gleich `3` ist, bedeutet die Zuweisung `x = 3` in Python, dass der Wert `3` in der Variablen `x` gespeichert wird. Python speichert dann den Wert `3` im Speicher des Rechners und weist ihm den Namen `x` zu.

In [7]:
x = 2
y = 5.3

Nach der Zuweisung können wir den Wert der Variablen abrufen, indem wir den Variablennamen verwenden.

In [8]:
x + y

7.3

In [9]:
x / y

0.37735849056603776

In [10]:
y ** x

28.09

In [11]:
type(x)

int

Wir können nicht nur numerische Werte zuweisen, sondern auch Zeichenketten (Strings), logische Werte (booleans), Listen und andere Datentypen.

In [12]:
x1 = "Hallo"
x2 = True
print("x1 enthält", x1)
print(type(x1))

x2 = True
print("x2 enthält", x2)
print(type(x2))

x1 enthält Hallo
<class 'str'>
x2 enthält True
<class 'bool'>

:::{#exr-arithmethic-operations}

- Berechnen Sie die Summe der Zahlen 32.8 und 45.1
- Berechnen Sie die Differenz der Zahlen 32.8 und 45.1
- Speichern Sie die Zahl 32.8 in `a` und die Zahl 45.1 in `b`. Berechnen Sie das Verhältnis von `a` zu `b` und speichern Sie das Ergebnis in `c`. Geben Sie `c` aus in dem Format: `Das Verhältnis von a zu b ist: c`

:::

In [13]:
print(32.8 + 45.1)
print(32.8 - 45.1)

a = 32.8
b = 45.1

c = a / b

print("Das Verhältnis von a zu b ist", c)

77.9
-12.300000000000004
Das Verhältnis von a zu b ist 0.7272727272727272

### Logische Werte (Booleans)

In Python gibt es auch logische Werte (Booleans). Diese können nur zwei Werte annehmen: `True` und `False`.
In den meisten Fällen werden wir diese Werte verwenden, um Bedingungen zu formulieren.

In [14]:
1 > 2

False

In [15]:
1 < 3

True

In [16]:
2 == 2

True

In [17]:
"hallo" == "hallo"

True

In [18]:
"hallo" == "Hallo"

False

In [19]:
r = (1 > 2)
print(r)
print(type(r))

False
<class 'bool'>

:::{#exr-assignment}
## Zuweisung (Assignment)

Erstellen Sie zwei Variablen `a` und `b` und weisen Sie ihnen die Werte 28.2 und 32.1 zu. Überprüfen Sie, ob `a` kleiner als `b` ist. Speichern Sie das Ergebnis in einer Variablen `c` und geben Sie `c` aus.
:::

In [20]:
a = 28.2
b = 32.1

c = a < b
print(c)

True

## Listen und Tupel

In vielen Fällen werden wir nicht nur einzelne Werte, sondern mehrere Werte zusammen verwenden wollen.
Als Beispiel nehmen wir eine Liste mit monatlichem Stromverbrauch eines Unternehmens (für 12 Monate in EUR).

In [21]:
stromverbrauch = [100, 120, 80, 90, 110, 100, 120, 80, 90.12, 110, 100, 120.22]
stromverbrauch

[100, 120, 80, 90, 110, 100, 120, 80, 90.12, 110, 100, 120.22]

Wir können auf einzelne Elemente einer Liste zugreifen, indem wir den Index des Elements in eckigen Klammern hinter den Namen der Liste schreiben. Wie in vielen anderen Programmiersprachen **beginnt der Index bei 0**.

| Wert | 100 | 120 | 80 | 90 | 110 | 100 | 120 | 80 | 90.12 | 110 | 100 | 120.22 |
|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|
|Index 0| 0  | 1   | 2   | 3   | 4   | 5   | 6   | 7   | 8   | 9   | 10  | 11  |
|Index 1| 1| 2| 3| 4| 5| 6| 7| 8| 9| 10| 11| 12|

In [22]:
# Das erste Element
stromverbrauch[0]

100

In [23]:
# Das zweite Element
stromverbrauch[1]

120

In [24]:
# Das zwölfte Element
stromverbrauch[11]

120.22

In [25]:
# Das letzte Element
stromverbrauch[-1]

120.22

In [26]:
# Die ersten drei Elemente (die obere Grenze ist exklusiv)
stromverbrauch[:3]

[100, 120, 80]

In [27]:
# Vom vierten bis zum siebten Element
stromverbrauch[3:7]

[90, 110, 100, 120]

Versuchen wir auf ein Element zuzugreifen, das nicht existiert, erhalten wir einen Fehler.

:::{#exr-lists}
## Listen

Erstellen Sie eine Liste mit den Zahlen 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 und speichern Sie diese in der Variable `numbers`.
- Geben Sie die Liste aus (mit `print()`)
- Geben Sie das erste Element der Liste aus
- Geben Sie das letzte Element der Liste aus
- Geben Sie das dritte Element der Liste aus
- Ersetzen Sie das vierte Element der Liste durch die Zahl 42 und geben Sie die Liste aus
- Berechnen Sie die Summe der esten 5 Elemente der Liste und geben Sie das Ergebnis aus. Benutzen Sie dazu die Funktion `sum()` und den Slicing Operator `[:]`
:::

In [28]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(numbers)

# Das erste Element
print(numbers[0])

# Das letzte Element
print(numbers[-1])

# Das dritte Element (hat index 2)
print(numbers[2])

# Das vierte element had Indexwert 3
numbers[3] = 42

print(numbers)

# Die ersten vier Elemente

print(numbers[:4])
print(sum(numbers[:4]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
10
3
[1, 2, 3, 42, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 42]
48

### Funktionen

Sehr häufig möchten wir ein und dieselbe Operation mit verschiedenen Daten (Argumenten) ausführen, ohne dass wir den Code jedes Mal neu schreiben zu müssen.
Dafür können wir Funktionen verwenden. In Python definieren wir eine Funktion mit dem Schlüsselwort `def` gefolgt von dem Namen der Funktion und den Argumenten in runden Klammern. Der Funktionskörper wird eingerückt. Mit dem Schlüsselwort `return` geben wir das Ergebnis der Funktion zurück.


Als Beispiel nehmen wir eine Funktion, die einen numerischen Wert als Argument nimmt, es mit 1.955 multipliziert und das Ergebnis zurückgibt. Die Funktion nennen
wir `eur_to_bgn`.

In [29]:
def eur_to_bgn(x):
    return 1.955 * x
    
eur_to_bgn(100)

195.5

Funktionen können auch mehrere Argumente haben. Die Argumente werden durch Kommas getrennt.

In [30]:
def my_simple_sum(x, y):
    return x + y
    
my_simple_sum(1, 2)

3

:::{#exr-functions-vat}
## Mehrwertsteuer

- Schreiben Sie eine Funktion `calculate_vat1`, die einen numerischen Wert als Argument nimmt und den Mehrwertsteuerbetrag (20%) zurückgibt.
- Schreiben Sie eine Funktion `calculate_vat2`, die einen numerischen Wert als Argument nimmt und eine Liste mit dem Netto- und Bruttowert zurückgibt.
- Schreiben Sie eine Funktion `calculate_vat3`, die einen numerischen Wert als Argument nimmt, einen zweiten numerischen Wert als Mehrwertsteuersatz und eine Liste mit dem Netto- und Bruttowert zurückgibt.

:::

In [31]:
def calculate_vat1(amount):
    return 0.2 * amount

def calculate_vat2(amount):
    vat = calculate_vat1(amount)
    brutto = amount + vat
    return [vat, brutto]

def calculate_vat3(amount, vat_rate):
    vat = vat_rate * amount
    brutto = amount + vat
    return [vat, brutto]

# Nun können wir die Funktionen testen

print(calculate_vat1(100))
print(calculate_vat2(100))
print(calculate_vat3(100, 0.2))

20.0
[20.0, 120.0]
[20.0, 120.0]

Schreiben Sie eine Funktion, die zwei numerische Argumente annimmt `amounts` und `vat_rate`. Das erste Argument ist eine Liste von numerischen Werten (Betrag ohne Mehrwertsteuer). Das zweite Argument ist der Mehrwertsteuersatz in Prozent. Die Funktion soll eine Liste von numerischen Werten (Betrag mit Mehrwertsteuer) zurückgeben.

:::{#exr-functions}
## Funktionen

In dieser Aufgabe werden wir eine Funktion `is_in_words` schreiben, die einen Namen als Argument annimmt und `True` oder `False` zurückgibt, falls der Name einer Person entspricht, die in der Liste `words`.
- Definieren Sie zuerst die Liste `words` mit den Namen: `["Alha", "Bravo", "Charlie", "Delta", "Echo"]`
- Schreiben Sie die Funktion `is_in_words`, die ein Wort als Argument annimmt und `True` zurückgibt, wenn das Wort in der Liste `words` enthalten ist, andernfalls `False`.
- Benutzen Sie den `in` Operator, um zu überprüfen, ob das Wort in der Liste enthalten ist (schauen Sie sich das Beispiel im nächsten Block an).

:::

In [32]:
# Beispiel mit dem in Operator

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(1 in numbers)
print(233 in numbers)

True
False

## Klassen und Objekte

Bisher haben wir verschiedene Datentypen gesehen, drei verschiedene Datenstrukturen (Listen, Tupel und Dictionaries) und Funktionen gesehen. In Python gibt es auch Objekte, die Daten und Funktionen zusammenbinden. Funktionen, die zu einem Objekt gehören, nennen wir Methoden. Objekte werden aus Klassen erstellt. Klassen sind wie Baupläne für Objekte.
In den Übungen werden wir keine Klassen selber definieren, allerdings werden wir Objekte wie DataFrame, Series, etc. verwenden, die aus Klassen erstellt wurden. Deswegen ist es wichtig, dass Sie wissen, wie Sie mit Objekten umgehen können.

Zuerst definieren wir eine Klasse `Person`. Diese hat zwei Attribute: `name` und `age`. Die Klasse erlaubt uns, ein Objekt zu erstellen, das diese beiden Attribute hat. Wir können auch eine Methode `say_hello` definieren, die uns erlaubt, "Hallo" und den Namen der Person auszugeben. Alle Methoden, wie z.B. `say_hello` erhalten das Argument `self`, das das Objekt selbst ist. Dadurch können wir über Methoden auf die Eigenschaften des Objekts zugreifen.

In [33]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def say_hello(self):
        print("Hi, my name is", self.name, "and I am", self.age, "years old.")

    def set_age(self, age):
        self.age = age

    def increase_age(self):
        self.age = self.age + 1

In [34]:
# Erstellen ein Objekt der Klasse Person, das den Namen "Ivan" und das Alter 20 hat

ivan = Person("Ivan", 20)

# Rufen die Methode say_hello auf
ivan.say_hello()

# Ändern das Alter von Ivan
ivan.set_age(22)
ivan.say_hello()

# Erhöhen das Alter von Ivan um 1
ivan.increase_age()
ivan.say_hello()

Hi, my name is Ivan and I am 20 years old.
Hi, my name is Ivan and I am 22 years old.
Hi, my name is Ivan and I am 23 years old.

:::{#exr-class}
## Klassen und Objekte

Erstellen Sie eine Klasse namens `Konto` mit den folgenden Eigenschaften:

- `inhaber` (string)
- `kontostand` (numerisch)

Die Klasse soll folgende Methoden haben:

- `einzahlen(self, betrag)`: erhöht den Kontostand um den Betrag
- `abheben(self, betrag)`: verringert den Kontostand um den Betrag. Der Einfachheit halber gehen wir davon aus, dass der Kontostand auch negativ sein kann.
- `kontostand_abfragen(self)`: gibt den Kontostand aus in der Form "Kontostand: EUR 1000"

- Erstellen Sie ein Objekt der Klasse `Konto` mit dem Namen `mein_konto` und einem Kontostand von 1000.
- Zahlen Sie 500 auf das Konto ein.
- Fragen Sie den Kontostand ab.
- Heben Sie 200 ab.
- Fragen Sie den Kontostand ab.
:::

In [35]:
class Konto:
    def __init__(self, inhaber, kontostand):
        self.inhaber = inhaber
        self.kontostand = kontostand

    def kontostand_abfragen(self):
        print("Kontostand: EUR", self.kontostand)

    def einzahlen(self, betrag):
        self.kontostand = self.kontostand + betrag

    def abheben(self, betrag):
        self.kontostand = self.kontostand - betrag

mykonto = Konto("Ivan", 15)
mykonto.kontostand_abfragen()

mykonto.einzahlen(100)
mykonto.kontostand_abfragen()

mykonto.abheben(50)
mykonto.kontostand_abfragen()

Kontostand: EUR 15
Kontostand: EUR 115
Kontostand: EUR 65